@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #010409;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes search-pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes input-pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-search-pop {
  animation: search-pop 0.3s ease forwards;
}

.animate-input-pop {
  animation: input-pop 0.3s ease forwards;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}

/* Tooltip.css */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: #000000; /* Dark gray background */
  color: #fff; /* White text */
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  position: absolute;
  top: 125%; /* Position the tooltip below the element */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #4a5568 transparent; /* Arrow color matching background */
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  top: 35px;
  z-index: 10;
}
